<ion-header>

  <ion-navbar>
    <ion-title>login</ion-title>
  </ion-navbar>

</ion-header>
<!-- <ion-nav #myNav [root]="rootPage"></ion-nav>
 -->
<ion-content>
  {{ user.uid }}
  <div *ngIf="(user | async) || {} as user">
    <button ion-button block *ngIf="!user.uid" (tap)="googleLogin()">
      Login with Google
    </button>
    <div *ngIf="user.uid">
      You are logged in as {{ user.uid }}
      <button ion-button (tap)="continue()">
        Continue
      </button>
    </div>
  </div>
  <button ion-button block (tap)="continue()">Continue without Login</button>
</ion-content>