page-add{
.color-item{
	height: 40px;
	width: 40px;
	border-radius: 8px;

	.icon{
		display: none;
		font-size: 6rem;
	}

	&.selected{
		display:flex;
		justify-content:center;
		align-items:center;
		font-size: 1em;
		color: #ffffff;
		.icon{
			display: inline-block;
		}
	}
}

}