.carousel-container {
  width: 64%;
  height: 140px;
  position: relative;
  margin: 0 auto;
  perspective: 1100px;
  border: 1px solid #CCC;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carousel-slide-item {
  display: block;
  position: absolute;
  background:#000;
  width: 100%;
  height: 116px;
  color: #FFF;
  border-radius: 10px;
  top: 10px;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

.slide-item {
  height: 100%;
  display: inline-block;
}

.slide-item-index {
  width: 30%;
  background-color: white;
  opacity: 0.5;
  float: left;
  margin-left: 5%;
  color: black;
  font-size: 30px;
}

.slide-item p {
  margin: 40px auto;
}

