<div class="carousel-container">
  <ion-list class="carousel">
    <div class="carousel-slide-item" 
    *ngFor="let item of items"  
    [ngStyle]="{'transform': 'rotateX(-'+item.currentPlacement+'deg)  translateZ('+radius+'px)', '-webkit-transform': 'rotateX(-'+item.currentPlacement+'deg)  translateZ('+radius+'px)', '-ms-transform': 'rotateX(-'+item.currentPlacement+'deg)  translateZ('+radius+'px)', 
    '-o-transform': 'rotateX(-'+item.currentPlacement+'deg)  translateZ('+radius+'px)'}"

    >
    <div swipeAll class="slide-wrapper"  [style.background-color]="item.color"  (click)="showDetails(item)" (swipeleft)="moveLeft($event, item)" (swiperight)="moveRight($event)" (swipeup)="swipeUp($event)"
    (swipedown)="swipeDown($event)"
    >
      <div class="slide-item slide-item-index">
        <p>{{item.idx+1}}</p>  
      </div>
      <div class="slide-item slide-item-name"> 
        <p>{{item.name}}</p>
      </div>
    </div>
    <div class="slide-option" [style.background-color]="item.color">
        <button ion-button full large color="dark" (click)="delete(item.idx)"><ion-icon class="icon" name="ios-checkmark-circle-outline"></ion-icon></button>
    </div>
  </div>
</ion-list>
</div>