page-detail {

	.item-name p {
		margin: auto 0 auto 20%;

	}
	
	.item {
		margin-top: 30px;
	}

	.item-description {
		height: 100%;
		width: 100%;
		color: black;
		background-color: white;
		text-align: left;
		padding-top: 30px;
		display: inline-block;
		font-size: 30px;
	}

	.item-description-icon {
		width: 30%;
		height: auto;
		font-size: 30px;
		margin: 0 10px;
	}
	
	.colorDiv {
		width: 30px;
		height: 30px;
		border-radius: 5px;
		margin: 11px 8px 11px 16px;
		flex: none;
	}


	.back-button {
		font-size: 40px;
		margin: 10px;
		display: block;
	}

}

.item-name {
	height: 20%;
	opacity: 0.9;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 30px;
	float: left;
	color: white;
	background-color: #488aff;
}
