page-detail {

	.item-name {
		height: 20%;
		opacity: 0.9;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		font-size: 30px;
		float: left;
		color: white;
	}

	.item-name p {
		margin: auto 0 auto 20%;

	}

	.item-description {
		height: 100%;
		width: 100%;
		color: black;
		background-color: white;
		text-align: center;
		padding-top: 30px;
		display: block;
		font-size: 30px;
	}

	.item-description-icon {
		width: auto;
		height: auto;
		display: block;
	}

	.item-description-text {
		width: 100%;
		height: auto;
		display: inline-block;
		margin: 0 10% 5% 10%;
		text-align: left;
	}

	.item-description-text p{
		margin: 0 10% 0 0;
		font-size: 20px;
	}

	.colorDiv {
		width: 30px;
		height: 30px;
		border-radius: 5px;
	}

	.disable {
		display: none;
	}
}

