page-detail {

	.item-name {
		height: 20%;
		opacity: 0.9;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		font-size: 30px;
		float: left;
		color: white;
	}

	.item-name p {
		margin: auto 20%;

	}

	.item-discription {
		height: 100%;
		width: 100%;
		color: black;
		background-color: white;
		opacity: 0.9;
		float: left;
	}

	.item-discription-icon {
		width: 20%;
		height: 100%;
	}
}

